<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ng-include="'nodes_display_only.html'"></div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="(node.name=='repeat'||node.name=='repeat forever'||node.name=='if'||node.name=='while')&&'nodes_renderer.html'||'nodes_display_only.html'">
        </li>
    </ol>
</script>
<script type="text/ng-template" id="nodes_display_only.html">
    <div ui-tree-handle class="tree-node tree-node-content function-display-tab" ng-style="{'background-color':'{{node.color}}'}">
		<a class="btn btn-danger btn-xs" data-nodrag ng-click="toggle(this);log()" ng-show="node.name=='repeat'||node.name=='repeat forever'||node.name=='if'||node.name=='while'"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
        <input class="function-value-input" data-nodrag type="text" required="required" ng-show="node.name=='='" ng-model="node.expression2"></input>
        <span>{{node.name}} </span>
		<span ng-show="node.name=='set background'||node.name=='set costume'"> to </span>
       
        <input class="function-value-input" data-nodrag name="number-input" type="number" ng-pattern="numInputPattern(node.name)" required="required" ng-show="node.name=='setX'||node.name=='setY'||node.name=='move'||node.name=='repeat'||node.name=='set background'||node.name=='set costume'||node.name=='play sound'" ng-model="node.initialValue"></input>
		<span ng-show="node.name=='move'||node.name=='repeat'"> {{node.name=='move'&&'steps'||'times'}}</span>

        <input class="function-value-input" data-nodrag type="text" required="required" ng-show="node.name=='if'||node.name=='='||node.name=='while'" ng-model="node.expression"></input>

        <input class="function-value-input" data-nodrag name="number-input" type="number" ng-pattern="numInputPattern(node.name)" required="required" ng-show="node.name=='move'" ng-model="node.degrees"></input>
        <span ng-show="node.name=='move'">degrees</span>

		<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
</script>
<form name="myForm">
<ul class="function-display">
<li ng-repeat="data in alltabs" ui-tree="treeOptions" id="tree-root">
	<div ng-attr-class="my-label {{($index==activeIndex) && 'my-active-label'}}" ng-click="setActive($index)">{{data.name}}</div>
    <ol ui-tree-nodes="" ng-model="data.data">
        <li ng-repeat="node in data.data" ui-tree-node ng-include="(node.name=='repeat'||node.name=='repeat forever'||node.name=='if'||node.name=='while')&&'nodes_renderer.html'||'nodes_display_only.html'"></li>
    </ol>
</li>
</ul>
<a class="btn btn-success btn-lg play-btn" ng-disabled="myForm.$invalid" ng-click="activity()"><span class="glyphicon glyphicon-play"></a>
<a class="btn btn-danger btn-lg stop-btn" ng-click="stop()"><span class="glyphicon glyphicon-stop"></a>
</form>
