<!--
<div data-drop="true" ng-model="list" jqyoui-droppable="{index:$index, multiple:true, stack:false, animate:true, onDrop:'setPosition(this)'}" >
	<span class="sprite-tab col-md-2" ng-repeat="sprites in list"
		 data-drag="true" data-jqyoui-options="{revert: 'invalid', containment:'document'}" jqyoui-draggable="{index:$index,animate:true, placeholder:'keep'}"
		 ng-style="{'top':sprites.posY+'px', 'left':sprites.posX+'px'}"
	>
-->
<div ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
<img class="background-image" ng-src="{{background}}">
<span ng-repeat="sprites in list" class="sprite-tab">
	<drag model="sprites" disable="play" ng-hide="!sprites.show" class="draggable-sprite">
		<span ng-show="sprites.show" class="show-hide">
			<img ng-src="{{sprites.image}}" class="sprite-image" >
			<img ng-src="{{sprites.costume}}" class="sprite-image">
			<a class="btn btn-danger btn-xs" ng-click="remove($index)" ng-show="!play" class="sprite-image">
			<span class="glyphicon glyphicon-remove"></span>
			</a>
		</span>
	</drag>
</span>
</div>