<!--
<div data-drop="true" ng-model="list" jqyoui-droppable="{index:$index, multiple:true, stack:false, animate:true, onDrop:'setPosition(this)'}" >
	<span class="sprite-tab col-md-2" ng-repeat="sprites in list"
		 data-drag="true" data-jqyoui-options="{revert: 'invalid', containment:'document'}" jqyoui-draggable="{index:$index,animate:true, placeholder:'keep'}"
		 ng-style="{'top':sprites.posY+'px', 'left':sprites.posX+'px'}"
	>
-->
<span ng-repeat="sprites in list" class="sprite-tabe col-md-2" style="background-color:red">
	<box model="sprites">
		
		<a class="btn btn-danger btn-xs" ng-click="remove($index)">
		<span class="glyphicon glyphicon-remove"></span></a>
		<img ng-src="{{sprites.image}}">
	</box>
</span>
index:{{$index}}
