<ul id="tabs" class="nav nav-pills tab-nav" data-tabs="tabs">
	<li class="active"><a href="#characters" data-toggle="tab">Characters</a></li>
		<li><a href="#costumes" data-toggle="tab">Costumes</a></li>
		<li><a href="#backgrounds" data-toggle="tab">Backgrounds</a></li>
		<li><a href="#sounds" data-toggle="tab">Sounds</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
	<div class="tab-pane active" id="characters">
		<ul class="col-md-4 spriteList" ng-repeat="sprites in oList">
			<li class="spriteList-tab" ng-click="">
				<div class="for-clone" ng-drag="true" ng-drag-data="sprites" draggable="false" ng-drag-success="onDragComplete($data,$event,$index)">
				</div>
				<img class="thumb" ng-src="{{sprites.image}}">
				{{sprites.name}}
				<div ng-drag-clone="">
					<img class="thumb" ng-src="{{clonedData.image}}">
					{{clonedData.name}}
				</div>
			</li>
		</ul>
	</div>
	
	<div class="tab-pane" id="costumes">
		<ul class="col-md-4 spriteList" ng-repeat="sprites in cList">
			<li class="spriteList-tab">
				<div class="for-clone" ng-drag="true" ng-drag-data="sprites" draggable="false" ng-drag-success="onDragComplete($data,$event,$index)">
				</div>
				<img class="thumb" ng-src="{{sprites.image}}">
				{{$index}}
				<div ng-drag-clone="">
					<img class="thumb" ng-src="{{clonedData.image}}">
					{{clonedData.name}}
				</div>
			</li>
		</ul>
	</div>
	
	<div class="tab-pane" id="backgrounds">
		<ul class="col-md-4 spriteList" ng-repeat="sprites in bgList">
			<li class="spriteList-tab">
				<div class="for-clone" ng-drag="true" ng-drag-data="sprites" draggable="false" ng-drag-success="onDragComplete($data,$event,$index)">
				</div>
				<img class="thumb" ng-src="{{sprites.image}}">
				{{$index}}
				<div ng-drag-clone="">
					<img class="thumb" ng-src="{{clonedData.image}}">
					{{clonedData.name}}
				</div>
			</li>
		</ul>
	</div>
	
	<div class="tab-pane" id="sounds">
		<table class="col-md-12 table table-striped table-bordered">
			<tr>
				<th>Index</th>
				<th>Sound</th>
			</tr>
			<tr ng-repeat="sound in sounds">
				<td><var>{{sound.index}}</var></td>
				<td>{{sound.name}}</td>
			</tr>
		</table>
	</div>
</div>


