<ion-view ng-style="bodyBackground" >

    <div class="header" id="welcome-header">
        <h1>Quiz!t</h1>
    </div>

    <div class="main">
        <div id="splash">
            <img src="img/splashpage.png">
        </div>
        
        <div class="window-float" id="login">

            <div class="content">
                <h1>Login from here:</h1>
                <div>Think you know well about your friends? Want to know how much your friends
                    know about you? Login and check it out!</br>
                </div>

                <a id="Facebook" ng-click="fblogin()">Facebook</a>
            </div>
        </div>
    </div>

    <div class="footer">
      <h1>2014 All Rights Reserved</h1>
    </div>
</ion-view>