<ion-view ng-style="bodyBackground">
    <div class="sideindicate"></div>
    <div class="header">
        <h1>Quiz!t</h1>
    </div>

    <div class="main">
        <div id="Verify-Question">
            <div class="window-float" id="Q1">
                <div class="question">
                    Is your birthday ......<br><br>
                    <div id="info1">25th of June 1994?</div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
      <h1>2014 All Rights Reserved</h1>
    </div>
    
</ion-view>