.small-box{
	height: 180px;
	border: 1px solid black;
}

.big-box{
	position: relative;
	height: 360px;
	border: 1px solid black;
	white-space: nowrap;
	overflow-y: scroll;
	overflow-x: scroll;
}

.big-box div{
	min-height: 100%;
}

.Object{
	position:relative;
}

.sprite-tab{
	position:absolute;
	height:0px;
	width:0px;
}

.function-tab{
	margin: auto;
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
	list-style-type: none;
	text-align: center;
	margin-top: 20px;
}

.function-tab:hover{
	color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.function-list-tab{
	list-style-type: none;
	border: 1px solid black;
	padding: 3px;
	text-align: center;
	margin: auto;
	width: 200px;
	margin-top: 20px;
}

.repeat-tab{
	list-style-type: none;
	border: 1px solid black;
	padding: 3px;
	text-align: center;
	margin: auto;
	width: 200px;
	height: 300px;
	margin-top: 20px;
}

.function-value-input{
	width: 25px;
}

.sprite-tab{
	display: block;
	position: absolute;
	clear: none;
	list-style-type: none;
	padding: 3px;
	text-align: center;
	margin-top: 20px;
}

/*Copy*/

.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
	width: 275px;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
	background: #f0f9ff;
	width: 275px;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.angular-ui-tree-empty {
	border: none;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.play-btn{
	position: fixed;
	padding: 5px;
	top: 45%;
	left: 2%;
}

.angular-ui-tree{
	/*float: left;*/
	display: inline-block;
	vertical-align:top;
}

.my-label{
	position: relative;
	display: block;
	width: 150px;
	margin-right: 125px;
	margin-top: 5px;
	margin-left: 0px;
	background: #f0f9ff;
	color: #7c9eb2;
    border: 2px solid #bed2db;
	padding: 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.my-label:hover{
	color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.my-active-label{
	background: #CFD7E8;
}

.my-active-label:hover{
	background: #CFD7E8;
}

body{
	overflow: hidden;
}