<div class="ui inverted black page segment grid">

  <!--- Computer --->
    <div class="column computer only">
	<div class="ui three column stackable grid">
        <div class="column">
          <div class="ui header">About</div>
          <div class="ui inverted link list">
            <a class="item" href="team.html" id="footAbout">The Team</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">Help</div>
          <div class="ui inverted link list">
            <a class="item" href="privacy.html" id="footPrivacy">Data Privacy Notice</a>

          </div>
        </div>
        <div class="visible column">
          <div class="ui header">Social</div>
          <div class="ui inverted link list">
            <a class="item" id="facebookPlugin"><div class="fb-like" data-href="http://54.179.177.82/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></a>
            <a class="item" id="friendsInvite"><div class="ui mini facebook button" onClick="postSend();">Invite Friends</div></a>
            <a class="item" id="friendsCount"></a>
          </div>
        </div>
	</div>
	<div class="center aligned column">
            <br><br>
            <div class="fb-comments" data-href="http://54.179.177.82/" data-numposts="5" data-colorscheme="dark"></div>
            <div class="ui horizontal icon divider">
              <i class="circular reorder inverted icon"></i>
            </div>
            <p class="foot"> Brought to you by Team Dest. All rights reserved.</p>
        </div>
	</div>
  <!--- Mobile --->
</div>

